:root {
  --foreground: #000;
  --yellow1:#F3B007;
  --Yellow2: #2E2101;
  --fontYellow: #D39A0B;
  --borderYellow: #6B4D03;
  --Yellow2: #2E2101;
  --fontGrey: #6D6D6D;
  --borderColor1:#2E2E2E;
  --borderColor2:#2E2E2E;
  --placeholder: #9CA3AF;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
